In [119]:
import pandas as pd
from sqlalchemy import create_engine
import plotly.express as px
import plotly.graph_objects as go

In [120]:
conn_details = {
    "host": "postgresql-hackathon2024.alwaysdata.net",
    "dbname": "hackathon2024_2",
    "user": "hackathon2024_reader",
    "password": "hackathon_2_reader"
}

In [121]:
db_url = f"postgresql+psycopg2://{conn_details['user']}:{conn_details['password']}@{conn_details['host']}/{conn_details['dbname']}"

In [122]:
engine = create_engine(db_url)

In [123]:
# 1 hackathon
df = pd.read_sql_query("SELECT * FROM olympic_hosts", engine)
df=pd.concat([df, pd.DataFrame({"game_slug": ["paris-2024"],"game_location": ["France"],"game_name": ["Paris 2024"],"game_season": ["Summer"],"game_year": [2024]})], ignore_index=True)
# # les JO 2024 de France n'existe pas dans cette base de donées
filtered_df=df[df['game_location'] == 'France']
fig=px.pie(names=['Ete', 'Hiver'], values=[len(filtered_df[filtered_df['game_season'] == 'Summer']), len(filtered_df[filtered_df['game_season'] == 'Winter'])], title='Nombre de JO organiser en Ete et Hiver par la France')
fig.show(renderer='iframe_connected')

In [34]:
# 2 hackathon
fig = px.bar(df['game_location'].value_counts().reset_index(), x='game_location', y='count', title='Classement des pays qui a organisé le plus de JO')
fig.show(renderer='iframe_connected')

In [43]:
# 3 hackathon
df3=df[df['game_year'] != 'NaN']
df3['game_year'] = pd.to_numeric(df3['game_year'], errors='coerce')
res=df3.sort_values(by='game_year').iloc[0]
print( "les Jo sont nés en "+res['game_season']+" "+str(res['game_year'])+" à "+res['game_location'])

les Jo sont nés en Summer 1896 à Greece

In [48]:
# 4 hackathon
filtered_game=df[df['game_location']=='France']
filtered_game=filtered_game[filtered_game['game_year'] != 'NaN']
filtered_game['game_year'] = pd.to_numeric(filtered_game['game_year'], errors='coerce')
slug=filtered_game[filtered_game['game_year']==1900].iloc[0]['game_slug']
df4=pd.read_sql_query("SELECT * FROM olympic_medals", engine)
filtered_df4=df4[df4['slug_game']== slug]
print("les femmes "+ ("peuvent " if len(filtered_df4[filtered_df4['event_gender']== "Women"]) !=0 else "ne peuvent pas ")+"participer au JO")

les femmes peuvent participer au JO

In [68]:
# 5 hackathon
df5=pd.read_sql_query("SELECT om.athlete_full_name,olympic_hosts.game_year,olympic_hosts.game_season FROM olympic_medals as om inner join olympic_hosts on om.slug_game=olympic_hosts.game_slug ", engine)
df5=df5[df5['athlete_full_name'] != 'NaN']
df5=df5[df5.duplicated(subset='athlete_full_name', keep=False)].groupby(['athlete_full_name','game_season','game_year']).sum().reset_index().groupby(['athlete_full_name','game_season']).agg({
    'game_year': ', '.join
}).reset_index()
df5=df5[df5.duplicated(subset=['athlete_full_name'], keep=False)]
df5['message'] = "en "+df5['game_season'] +" de "+df5['game_year']
df5 = df5.drop(columns=['game_season','game_year'])
df5.groupby(['athlete_full_name']).agg({
    'message': ' et '.join}).reset_index()
for _index, row in df5.groupby(['athlete_full_name']).agg({'message': ' et '.join}).reset_index().iterrows():
    print(row['athlete_full_name']+" a gagner des medailles "+ row['message']+"\n")

Christa LUDING-ROTHENBURGER a gagner des medailles en Summer de 1988 et en Winter de 1984, 1988, 1992

Clara HUGHES a gagner des medailles en Summer de 1996 et en Winter de 2002, 2006, 2010

Gillis GRAFSTRÖM a gagner des medailles en Summer de 1920 et en Winter de 1924, 1928, 1932

Gunnar LARSSON a gagner des medailles en Summer de 1972 et en Winter de 1968

In [115]:
# 6 hackathon
df6=pd.read_sql_query("SELECT game_season,game_year FROM olympic_hosts",engine)
df6['game_year'] = pd.to_numeric(df6['game_year'], errors='coerce')
df6
# df6.groupby('game_year').agg({
#     'game_season':', '.join
# }).reset_index()
year_counts=df6['game_year'].value_counts().sort_index()
df6_1=df6[(df6['game_year'] >= 1924) & (df6['game_year'] <= 1992)]
grouped = df6_1.groupby(['game_season', 'game_year']).size().unstack(fill_value=0)
grouped = grouped.T
# Create the bar chart
fig = go.Figure(data=[
    go.Bar(name='Winter', x=grouped.index, y=grouped['Winter']),
    go.Bar(name='Summer', x=grouped.index, y=grouped['Summer'])
])

fig.update_layout(
    title='Number of occurrences by year and season',
    xaxis_title='Années',
    barmode='group',
    template='plotly_white',
    yaxis=dict(
        showticklabels=False  # Remove y-axis tick labels
    ),
    xaxis=dict(
        tickmode='linear',  # Set tick mode to linear
        tick0=1924,   # Set the starting tick value
        dtick=4            # Set the interval between ticks (change as needed)
    )
)
fig.show(renderer='iframe_connected')

In [117]:
df6_2=df6[(df6['game_year'] > 1992)]
grouped = df6_2.groupby(['game_season', 'game_year']).size().unstack(fill_value=0)
grouped = grouped.T
# Create the bar chart
fig2 = go.Figure(data=[
    go.Bar(name='Winter', x=grouped.index, y=grouped['Winter']),
    go.Bar(name='Summer', x=grouped.index, y=grouped['Summer'])
])

fig2.update_layout(
    title='Number of occurrences by year and season',
    xaxis_title='Années',
    barmode='group',
    template='plotly_white',
    yaxis=dict(
        showticklabels=False  # Remove y-axis tick labels
    ),
    xaxis=dict(
        tickmode='linear',  # Set tick mode to linear
        tick0=1994,   # Set the starting tick value
        dtick=2            # Set the interval between ticks (change as needed)
    )
)
fig2.show(renderer='iframe_connected')

In [130]:
# 7 hackathon
df7=pd.read_sql_query("SELECT om.event_title,om.medal_type,om.athlete_full_name,oh.game_year FROM olympic_medals as om inner join olympic_hosts as oh on om.slug_game=oh.game_slug",engine)
df7=df7[df7['athlete_full_name'] == 'Johnny WEISSMULLER']
df7['message'] = "1 medaille "+df7['medal_type']+" en "+df7['event_title'] +" en "+df7['game_year']
df7=df7.groupby('athlete_full_name').agg({'message':', '.join}).reset_index().iloc[0]
print(df7['athlete_full_name']+" a obtenu "+df7['message'])

Johnny WEISSMULLER a obtenu 1 medaille GOLD en 100m freestyle men en 1928, 1 medaille GOLD en 400m freestyle men en 1924, 1 medaille GOLD en 100m freestyle men en 1924

In [132]:
# 8 hackathon
df8=pd.read_sql_query("SELECT om.event_gender,om.country_name,om.slug_game FROM olympic_medals as om",engine)
df8=df8.groupby(['country_name','slug_game']).agg({'event_gender':lambda values: "Women" if "Women" in ','.join(values).split(',') else "Men"}).reset_index()
df8=df8.groupby('slug_game').agg({'event_gender':lambda values:"No" if "Men" in ','.join(values).split(',') else "Yes"}).reset_index()
df8=df8[df8['event_gender']=="Yes"].iloc[0]
print("le championnat de "+df8['slug_game']+" est le 1ers JO durant lesquels tous les pays participants ont envoyé des athlètes de sexe féminin")

le championnat de grenoble-1968 est le 1ers JO durant lesquels tous les pays participants ont envoyé des athlètes de sexe féminin

In [135]:
# 8 hackathon
df = pd.read_sql_query("SELECT * FROM olympic_medals", engine)
df=df[df['slug_game'] == 'london-2012']
pays_filtered=df[df['event_gender'].isin(['Women','Mixed'])]
print("le championnat de londre 2012 avait "+str(len(pays_filtered.drop_duplicates(subset=['country_name'])))+" femme de different pays pour "+str(len(df.drop_duplicates(subset=['country_name'])))+" pays")

le championnat de londre 2012 avait 57 femme de different pays pour 81 pays

In [140]:
# 9 hackathon
df9=pd.read_sql_query("SELECT slug_game	,event_title FROM olympic_medals",engine)
df9 = df9.drop_duplicates(subset=['slug_game','event_title'])
dp=df9.duplicated('event_title')
df9=df9[~dp]
df9[df9['slug_game']=='paris-1900']
print("les  sport qui sont aparue 1 seule fois au JO de paris 1900 sont: \n"+'\n'.join(["- "+row['event_title'] for _index, row in df9[df9['slug_game']=='paris-1900'].iterrows()]))

les  sport qui sont aparue 1 seule fois au JO de paris 1900 sont:
- foil masters men
- pe masters men
- sabre masters men
- pe amateurs and masters men
- 25 kilometres men
- Course De Primes Men
- army rifle 300m kneeling men
- 4000m steeplechase men
- Championnat Du Monde Men
- au cordon dor 33m men
- au chapelet 50m men
- au cordon dor 50m men
- au chapelet 33m men
- sur la perche à la herse men
- sur la perche à la pyramide men
- high jump mixed
- long jump individual mixed
- individual 2 balls men
- individual 1 ball men
- 1000m freestyle men
- 4000m freestyle men
- 200m obstacle event men
- underwater swimming men

In [141]:
# 10 hackathon
df10=pd.read_sql_query("SELECT * FROM olympic_hosts",engine)
df10['game_year'] = pd.to_numeric(df10['game_year'], errors='coerce')
df10=df10.groupby('game_location').agg({'game_year':lambda values:', '.join([str(e) for e in values])}).reset_index()
df10.sort_values(by='game_year')

,game_location,game_year
12,Greece,"1896, 2004"
21,Sweden,1912
3,Belgium,1920
16,Netherlands,1928
10,Germany,"1936, 1936"
11,Great Britain,"1948, 1908, 2012"
22,Switzerland,"1948, 1928"
8,Finland,1952
17,Norway,"1952, 1994"
1,"Australia, Sweden",1956
24,United States,"1960, 1932, 1932, 1904, 2002, 1996, 1984, 1980"
13,Italy,"1960, 1956, 2006"
2,Austria,"1964, 1976"
15,Mexico,1968
9,France,"1968, 1924, 1924, 1900, 1992"
7,Federal Republic of Germany,1972
14,Japan,"1972, 1964, 2020, 1998"
23,USSR,1980
25,Yugoslavia,1984
20,Spain,1992
0,Australia,2000
5,Canada,"2010, 1988, 1976"
19,Russian Federation,2014
4,Brazil,2016
18,Republic of Korea,"2018, 1988"
6,China,"2022, 2008"

In [148]:
# 11 hackathon
df11=pd.read_sql_query("SELECT ore.athlete_url,ore.athlete_full_name,ore.event_title,ore.discipline_title,ore.country_name,oh.game_season,oh.game_year FROM olympic_results as ore inner join olympic_hosts as oh on ore.slug_game=oh.game_slug",engine)
df11=df11[df11['game_season']=='Summer']
df11[df11['game_year']=='2016']
print("il y a "+str(len(df11.drop_duplicates(subset=['athlete_full_name','athlete_url'])))+" athletes de "+str(len(df11.drop_duplicates(subset=['country_name'])))+" pays different pour "+str(len(df11.drop_duplicates(subset=['discipline_title'])))+" sport different dans un total de "+str(len(df11.drop_duplicates(subset=['event_title'])))+" epreuves diferentes")

il y a 11274 athletes de 213 pays different pour 42 sport different dans un total de 446 epreuves diferentes